$light-aqua:#41F6D7;
$color-neutral-light:#eaeaea;
$color-grey:#7e7e82;
$color-primary: #ff3e79;
$shadow-menu: 16px 0px 52px 0px #0E185033;
$color-text-link: #1B1C21;
$color-text-link-active: #7E7E82;
$white:#ffffff;
$color-input: #acacac;
$color-background: #f8f8f8;
$color-link-active: #B8FFEC;
$light-grey:#b5b6bc;
$color-disabled: #a1a1a1;
$shadow-swiper-one: linear-gradient(90deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
$shadow-swiper-two: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
$border:#d9fff5;
$heading-gradient: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
