@use '/../src/scss/abstracts/__var';
@use '/../src/scss/abstracts/__mix';

.footer{
    display: flex;
    flex-direction: column;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: _var.$color-grey;
    gap: 16px;
    margin: 0 -16px 19px;
    border-top: 1px solid _var.$border;
    padding-top: 16px;

    @include _mix.pad{
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        padding: 15px 32px;
        margin: 0 -32px 32px;

        &__development-data{
            text-align: left;
            width: 218px;
        }

        &__not-public-offer{
            width: 213px;
            text-align: right;
        }
    }

    @include _mix.desktop{
        &__development-data{
            width: 218px;
        }

        &__not-public-offer{
            width: 330px;
        }
    }
}


.commercial-offer{
    max-width: 421px;

    &__text{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        margin-bottom: 16px;
    }
}